.book-details-container{
  display: flex;
  justify-content: space-around;
}

.book-main{
  width: 40%;
}

.book-author{
  margin-top: 0%;
}

.book-details span{
  margin-left: 15px;
}

.book-details span i{
  margin-right: 5px;
}

.book-additional{
  max-width: 40%;
}

.edit-link,.delete-link{
  margin: 15px 30px;
  text-decoration: none;
  font-size: 1.8em;
  color: cadetblue;
  font-weight: bold;
}